<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
  <header>
      <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Bookings</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="{{ url_for('admin_login') }}">Admin</a></li>
              <li><a href="{{ url_for('admin_signup') }}">Signup</a></li>
          </ul>
      </nav>
  </header>
    <h2>Admin Login</h2>
    <form method="POST" action="{{ url_for('admin_login') }}" onsubmit="showPopup();>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Login">
    </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script>
        {% for category, message in messages %}
          alert("{{ message }}");
        {% endfor %}
      </script>
    {% endif %}
  {% endwith %}
</body>
</html>
