<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'bootstrap.html' %}
</head>
<body>
  <header>
      <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Bookings</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="{{ url_for('admin') }}">Admin</a></li>
          </ul>
      </nav>
  </header>
    <h1>Admin Login</h1>
    <form action="/admin_login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
  <footer>
      <p>&copy; 2022 Travel Booking System</p>
  </footer>
</body>
</html>
