<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}
</head>
<body>
  </div>
  <div class="navbar">
    <a href="{{ url_for('admin_logout') }}">Logout</a>
  </div>
    <h1>Admin Dashboard</h1>
    <ul>
        <li><a href="/flight_ticket_management">Flight Ticket Management</a></li>
        <li><a href="/user_management">User Management</a></li>
        <li><a href="/booked_tickets_admin">View and Manage All Ticket Bookings</a></li>
    </ul>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script>
        {% for category, message in messages %}
          alert("{{ message }}");
        {% endfor %}
      </script>
    {% endif %}
  {% endwith %}
</body>
</html>