<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User Details</title>
</head>
<body>

<h1>Edit User Details</h1>

<!-- Flight Details Update Form -->
<form id="edit_user" action="{{ url_for('update_profile', user_id=user_id) }}" method="post">
    <label for="username">Flight Name:</label>
    <input type="text" id="username" name="username" value="{{ user.username }}" required><br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="{{ user.email }}" required><br>

    <label for="phone">Phone Number:</label>
    <input type="text" id="phone" name="phone" value="{{ user.phone }}" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="{{ user.password }}" required><br>

    <button type="submit">Update</button>
</form>

<{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script>
        {% for category, message in messages %}
          alert("{{ message }}");
        {% endfor %}
      </script>
    {% endif %}
  {% endwith %}

</body>
</html>
