<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Boooking</title>
</head>
<body>

<h1>Flight Booking {% for user in users %} {{ user.id }}</h1>


<!-- Flight Information Table -->
  <table border="1" id="flightTable">
      <tr>
          <th>ID</th>
          <th>Flight Name</th>
          <th>Flight Number</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Flight Status</th>
          <th>Action</th>
      </tr>
      <!-- Example row with buttons -->
    {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>{{ flight.flightName }}</td>
                <td>{{ flight.flightNumber }}</td>
                <td>{{ flight.origin }}</td>
                <td>{{ flight.destination }}</td>
                <td>{{ flight.flightStatus }}</td>
                <td>
                  <a href="{{ url_for('update_flight', id=flight.id) }}">Book Ticket</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <script>
    function redirectToUpdatePage() {
        // Your update logic goes here
    }
    </script>
</body>
</html>
