<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .navbar {
        overflow: hidden;
        background-color: #333;
    }

    .navbar a {
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar a:hover {
        background: #ddd;
        color: black;
    }
  </style>
  </head>
  <body>
  <div class="navbar">
    <a href="{{ url_for('update_profile', user_id=user_id) }}">Edit user Profile</a>
  </div>
    <div class="navbar">
      <a href="{{ url_for('user_logout') }}">Logout</a>
    </div>

    <div class="container">
      <h1></h1>
        <h2>User Dashboard</h2>
        <h3>Book Flight Ticket</h3>
        <form method="POST">
        </form>
      <div class="navbar">
          <a href="{{ url_for('booked_tickets', user_id=user_id) }}">Check Booked Flights</a>
      </div>
      <table border="1" id="flightTable">
        <tr>
            <th>ID</th>
            <th>Flight Name</th>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Flight Status</th>
            <th>Action</th>
        </tr>
      {% for flight in flights %}
              <tr>
                  <td>{{ flight.id }}</td>
                  <td>{{ flight.flightName }}</td>
                  <td>{{ flight.flightNumber }}</td>
                  <td>{{ flight.origin }}</td>
                  <td>{{ flight.destination }}</td>
                  <td>{{ flight.flightStatus }}</td>
                  <td>
                    <form method="POST" action="{{ url_for('book_ticket') }}">
                        <input type="hidden" id="flight_id" name="flight_id" value="{{ flight.id }}">
                        <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                        <input type="hidden" id="user_name" name="user_name" value="{{ user_name }}">
                        <input type="hidden" id="user_email" name="user_email" value="{{ user_email }}">
                        <input type="hidden" id="flight_name" name="flight_name" value="{{ flight.flightName }}">
                        <input type="hidden" id="flight_number" name="flight_number" value="{{ flight.flightNumber }}">
                        <input type="hidden" id="origin" name="origin" value="{{ flight.origin }}">
                        <input type="hidden" id="destination" name="destination" value="{{ flight.destination }}">
                        <input type="hidden" id="flight_status" name="flight_status" value="{{ flight.flightStatus }}">
                      <input type="hidden" id="ticket_status" name="ticket_status" value="active">
                        <button type="submit">Book Ticket</button>
                    </form>
                  </td>
              </tr>
          {% endfor %}
      </table>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <script>
          {% for category, message in messages %}
            alert("{{ message }}");
          {% endfor %}
        </script>
      {% endif %}
    {% endwith %}
</body>
</html>